* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}
.smoke {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  filter: blur(15px);
  animation: smoke 2s infinite;
  transform-origin: bottom;
}
.cloud {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  border-radius: 100%;
  background-color: white;
  /* margin: auto; */
  opacity: 0.3;
  filter: blur(15px);
}
.smoke-cloud-container {
  width: 150px;
  height: 150px;
  position: relative;
}
.monk {
  position: absolute;
  animation: juggle 2s infinite;
  left: 20%;
  z-index: 1;
  transform-origin: top;
}
.monk img {
  width: 120px;
  height: 160px;
}
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}
.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 2px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  transform: translateX(-20px) translateY(119px) rotate(235deg);
  animation: animate 2s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateX(-20px) translateY(119px) rotate(235deg) scale(1);
  }
  15% {
    opacity: 0.2;
  }
  50% {
    transform: translateX(-50px) translateY(159px) rotate(235deg) scale(2);
    opacity: 0.5;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateX(-120px) translateY(200px) rotate(235deg) scale(5);
  }
}
@keyframes juggle {
  0% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
  50% {
    transform: translateX(0) translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
}

@keyframes smoke {
  0% {
    opacity: 0.5;
    filter: blur(50);
    transform: translateX(0) translateY(100px) rotate(0deg);
    scale: (1);
  }

  50% {
    opacity: 1;
    pointer-events: none;
  }

  100% {
    opacity: 0;
    filter: blur(500px);
    transform: translateX(-300px) translateY(300px);
    scale: (4);
  }
}
