* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}
.smoke {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  filter: blur(15px);
  animation: example 2s infinite;
  transform-origin: bottom;
}
.cloud {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: white;

  /* margin: auto; */
  opacity: 0.3;
  filter: blur(15px);
}
.monk {
  /* margin: auto; */
  position: absolute;
  animation: juggle 2s infinite;
  left: 48%;
  /* right: 50%; */
  z-index: 1;
  transform-origin: top;

  /* background-color: white; */
}
.monk img {
  width: 120px;
  height: 160px;
}
@keyframes juggle {
  0% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
  50% {
    transform: translateX(0) translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
}

@keyframes example {
  0% {
    opacity: 0.5;
    filter: blur(50);
    transform: translateX(0) translateY(0) rotate(0deg);
    scale: (1);
  }

  50% {
    opacity: 1;
    pointer-events: none;
  }

  100% {
    opacity: 0;
    filter: blur(150px);
    transform: translateX(-300px) translateY(300px);
    scale: (4);
  }
}

/*  */
.display-none {
  display: none;
}
/* .carousel {
  overflow-x: scroll;
} */
.bg-img {
  color: aliceblue;
  height: 97vh;
  /* animation: scroll 1s 1s ease-in-out; */
  /* animation-duration: 3s;
  animation-name: slidein; */
}
.previous-btn {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateX(-50%);
}
.next-btn {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateX(-50%);
}
.previous {
  transform: translateX(0px);
  transition: transform 1s ease-in-out 1s;
}
/* .next {
  transform: translateX(0px);
  transition: transform 1s ease-in-out 1s;
} */
/* animation: like 2s 3s infinite; */

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-786px);
  }
  100% {
    transform: translateX(-786px);
  }
  /* 0% {
    transform: translateX(-786px);
  } */
}

@keyframes slidein {
  from {
    margin-left: var(--m, 0%);
    width: var(--w, 100%);
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
