* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: black;
  color: white;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}
.smoke {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  filter: blur(15px);
  animation: example 2s infinite;
  transform-origin: bottom;
}
.cloud {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  filter: blur(15px);
}
.monk {
  position: absolute;
  animation: juggle 2s infinite;
  left: 48%;
  z-index: 1;
  transform-origin: top;
}

.monk img {
  width: 120px;
  height: 160px;
}
@keyframes juggle {
  0% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
  50% {
    transform: translateX(0) translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(10px) rotate(0deg);
  }
}

@keyframes example {
  0% {
    opacity: 0.5;
    filter: blur(50);
    transform: translateX(0) translateY(0) rotate(0deg);
    scale: (1);
  }

  50% {
    opacity: 1;
    pointer-events: none;
  }

  100% {
    opacity: 0;
    filter: blur(150px);
    transform: translateX(-300px) translateY(300px);
    scale: (4);
  }
}

/*  */
.display-none {
  display: none;
}
/* .carousel {
  overflow-x: scroll;
} */
.bg-img {
  position: relative;
  color: aliceblue;
  height: 100vh;
  /* animation: scroll 1s 1s ease-in-out; */
  /* animation-duration: 3s;
  animation-name: slidein; */
}
:root {
  --left-0: 0%;
  --left-100: -0%;
}
img.bg-img.active {
  animation-duration: 1.5s;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    left: var(--left-0);
  }

  100% {
    left: var(--left-100);
  }
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 36px;
}
.previous-btn {
  left: 1vw;
}
.next-btn {
  right: 1vw;
}
.previous {
  transition: transform 1s ease-in-out 1s;
}

@keyframes slidein {
  from {
    margin-left: var(--m, 0%);
    width: var(--w, 100%);
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Applying Page Navigation */
.pageNavigation {
  display: flex;
  position: absolute;
  bottom: 3vh;
  left: 3vw;
}
.page:last-child {
  border-right: 2px dotted white;
}
.page {
  border: 2px dotted white;
  border-right: none;
  padding: 0 6px;
  cursor: pointer;
  color: white;
}

.active-page {
  background-color: white;
}
.page-0 {
  padding: 0 10px;
}
.page-9 {
  padding: 0 10px;
}

.head-text {
  position: absolute;
  font-size: 40px;
  text-decoration: underline;
  color: white;
  width: 30vw;
  word-wrap: normal;
  line-height: 1.1;
}
.min-text {
  position: absolute;
  font-size: 10px;
  color: white;
  width: 25vw;
  word-wrap: normal;
}
.top-left {
  top: 3vh;
  left: 3vw;
}
.center-left {
  top: 60%;
  left: 3vw;
  transform: translateY(-50%);
}
.center-right {
  top: 60%;
  right: 3vw;
  transform: translateY(-50%);
}
.hide {
  display: none;
}
.hidden {
  animation: fadeOutAnimation ease 1s;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show {
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mTextBottomLeft {
  bottom: 10vh;
  left: 3vw;
}
.mTextBottomLeft2 {
  bottom: 4vh;
  left: 22vw;
}

/* Applying Last page-9  */
.image-contant {
  display: flex;
  text-align: end;
}
.after-img-content {
  position: absolute;
  right: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 35vh;
}
.after-img-para {
  margin-bottom: 5vh;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: end;
}
.link {
  gap: 12px;
}
.logo {
  margin-left: 5px;
}
